<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_item-list">
          <li class="main-header_item"><a href="/">Shop</a></li>
          <li class="main-header_item">
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li class="main-header_item">
            <a class="active" href="/contact">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="contact" action="/contact" method="post">
        <div class="form-control">
          <label for="fullname">Name</label>
          <input type="text" name="fullname" id="fullname" />
          <label for="email">E-mail Id</label>
          <input type="email" name="email" id="email" />
        </div>
        <button type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>
